In [4]:
import pyspark

In [5]:
import pandas as pd
pd.read_csv('test1.csv')

      Name sirname  Age  Experience
0  Sarthak       a   21           0
1    Lalit       b   22           1
2     Amit       c   21           2

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, split

# Create a Spark session
spark = SparkSession.builder.appName("WordCount").getOrCreate()

# Read input text file
text_file = spark.read.text("test1.csv")

# Split each line into words
words = text_file.select(explode(split(text_file.value, " ")).alias("word"))

# Perform word count
word_count = words.groupBy("word").count()

# Show the result
word_count.show()

# Stop the Spark session
spark.stop()

+--------------------+-----+
|                word|count|
+--------------------+-----+
|Name,sirname,Age,...|    1|
|        Lalit,b,22,1|    1|
|         Amit,c,21,2|    1|
|      Sarthak,a,21,0|    1|
+--------------------+-----+

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practise").getOrCreate()
spark

In [4]:
df_pyspark=spark.read.csv('test1.csv')

In [5]:
spark.read.option('header','true').csv('test1.csv').show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Sarthak| 21|         0|
|  Lalit| 22|         1|
|   Amit| 21|         2|
+-------+---+----------+

In [6]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [7]:
df_pyspark.head(3)

[Row(_c0='Name', _c1='Age', _c2='Experience'),
 Row(_c0='Sarthak', _c1='21', _c2='0'),
 Row(_c0='Lalit', _c1='22', _c2='1')]

In [8]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [9]:
spark.stop()